# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
env/

# PyCharm
.idea/

# Mac-specific files
.DS_Store

# Environment variable files
.env
